{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


</head>

<body class="bg">
    <nav>
        <div class="nav-wrapper  green accent-3">
            <form>
                <div class="input-field">
                    <input id="search" type="search" required>
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div>
    </nav>
    <header class="navbar-fixed green accent-2">
        <nav>
            <div class="nav-wrapper  green accent-3">
                <ul>
                    <li><a href="{% url 'home' %}" class="left brand-logo">&nbsp;&nbsp;Varsity</a></li>

                </ul>
                <ul class="right">
                   
                    <li><a href="{% url 'players_create' %}">Add Player</a></li>
                    <li><a href="{% url 'about' %}">League Finder</a></li>
                    <li><a href="{% url 'index' %}">All Players</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer green accent-2">
        <div>All Rights Reserved, &copy; 2023 Varsity &nbsp;</div>
    </footer>


</body>

</html>