{% extends 'base.html' %}
{% block content %}

<h1>Player List</h1>

{% for player in players %}

<!-- old one below  -->
  <div class="card">
    <a href="{% url 'detail' player.id %}"></a>
    <div class="card-content">
      <span class="card-title">{{ player.name }}</span>
      <p>Age: {{ player.age }}</p>
      <p>Sport: {{ player.sport }}</p>
      <p>League: {{ player.league }}</p>
      <p>Team: {{ player.team }}</p>
      <p>HeadCoach: {{ player.headcoach }}</p>
      <p>Asst. Coach: {{ player.asstcoach }}</p>
      {% if player.age > 7 %}
        <p>Age: {{ players.age }}</p>
      {% else %}
        <p>Level: Rookie</p>
      {% endif %}
    </div>
    </a>
    <div class="card-action">
        <a href="{% url 'players_update' player.id %}">Edit</a>
        <a href="{% url 'players_delete' player.id %}">Delete</a>
      </div>
      
  </div>
{% endfor %}

{% endblock %}
